*{
    font-family:'Courier New', Courier, monospace;
    line-height:1.5;
}

#heading{
    font-size: 75px;
    color:mintcream;
    background-color:rgb(35, 35, 39);
    justify-content:center;
    padding:2%;
    border:5px solid black;
    border-radius:25px;
    display:flex;
}

.topnav{
    display:flex;
    justify-content:flex-end;
    background-color:rgb(35, 35, 39);
    overflow:hidden;
    border:5px solid black;
    border-radius:15px;
}

.topnav a{
    Float:left;
    color:mintcream;
    justify-content:center;
    padding:10px 13px;
    text-decoration:none;
    font-size: 25px;
}

.topnav a:hover{
    background-color:rgb(60, 130, 235);
    color:mintcream;
}

.topnav a.active{
    background-color:rgb(27, 4, 235);
    color:mintcream;
}

h1{
    text-align:center;
    margin:2px 2px 2px 2px;
}

p{
    text-align:left;
    margin:5px 5px 5px 15px;
}

.AboutMe{
    border:5px solid black;
    border-radius:15px;
    justify-content:center;
    display:flex;

}

.Work{
    border:5px solid black;
    border-radius:15px;
    justify-content:center;
    display:flex;

}

.Resume{
    border:5px solid black;
    border-radius:15px;
    justify-content:center;
    display:flex;
}

.ContactMe{
    border:5px solid black;
    border-radius:15px;
    justify-content:center;
    display:flex;
}

ul{
    list-style:none;
}

li{
    display:block;
}

footer{
    display:flex;
    justify-content:center;
    padding: 5%;
    background-color:rgb(35, 35, 39);
    color:mintcream;
    border:5px solid black;
    border-radius:15px;
}

@media screen and (max-width: 768px) {
    main,
    nav{
        flex-direction:column;
    }
}